<!-- start custom footer snippets -->

<!-- 애드센스 코드 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- nam-ki-bok.github.io -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3777397455724815"
     data-ad-slot="1528945800"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- 애드센스 코드 -->

<!-- end custom footer snippets -->